{% extends "base.html" %}
{% block app %} ng-app="vocabcollector"{% endblock %}
{% block content %}

{% endblock %}
{% block styles %}
<link href="/static/css/base.css" rel="stylesheet">
{% endblock %}
{% block libs %}    
    <script src="/static/js/jquery.js"></script>
    <!--<script type="text/javascript" src="/static/js/jquery.social_bookmark.js"></script>
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?20"></script>-->
    <script src="/static/js/toastr.js"></script>
    <script src="/static/js/history.js?basepath=/app/"></script>
    <script type="text/javascript"> var oldDir = "{{dir}}"; </script>
    <script src="/static/js/model.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/view.js"></script>
{% endblock %}