<h1>
    Профиль
</h1>
<div id="personal-info">
    <h4>
        Персональная информация
    </h4>
    <a href="editprofile"
    id="user-icon" rel="nofollow"><img alt="Large" height="141" src="/static/img/user.png" width="141"></a>
    <ul class="info-list">
        <li>
            <label>
                Имя
            </label>
            <div class="value">
                <%=user.name%>
            </div>
        </li>
        <li>
            <label>
                Email
            </label>
            <div class="value">
                <%=user.email%>
            </div>
        </li>
    </ul>
</div>